<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>公司简介</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta name="author" content="lin,286621855@qq.com">
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body class="g-clearfix">
    <!--条件注释-->
    <!--[if lte IE 9]>
        <div class="browseupgradw">
            <div class="prompt-frame">
                <h1>温馨提示</h1>
                你的浏览器版本过低请<a href="http://browsehappy.com" style='color:red;'>[点击更换]</a>    
            </div>
        
        </div>
<![endif]-->
    <!-- 左侧 -->
    <div class="left-nav left-nav-float">
        <div class="left-content" id="moveNav" style="left: -210px">
            <div id="closeMenu" class="g-cursor">&times;</div>
            <div class="left-side">
                <div class="logo">
                    <a href="../index.html">
                        <img src="../image/logo.png">
                    </a>
                </div>
                <ul class="nav-list">
                    <li>
                        <a href="../index.html">
                                
                                首页
                            </a>
                    </li>
                    <li>
                        <a href="companyprofile.html">
                                
                                新闻动态
                            </a>
                    </li>
                    <li>
                        <a href="product_center.html">
                               产品中心
                            </a>
                    </li>
                    <li>
                        <a href="e-helperlist.html">
                               健康e点通
                            </a>
                    </li>
                    <li>
                        <a href="company_profile.html" class="nav-active">
                                公司简介
                            </a>
                    </li>
                    <li>
                        <a href="order_goods.html">
                                经销商须知
                            </a>
                    </li>
                    <li>
                        <a href="order_goods.html">
                                帮助中心
                            </a>
                    </li>
                    <li>
                        <a href="order_goods.html">
                               查询服务
                            </a>
                    </li>
                </ul>
                <div class="nav-bottom">
                    <div class="language g-cursor">
                        <img src="../image/earch.png">
                    </div>
                    <div class="user-num">
                        <a href="user_center.html">0201001</a>
                    </div>
                    <div class="sign-out">
                        <a href="javascript:void(0);">退出</a>
                    </div>
                    <!--   <div class="login">
                        <ul>
                            <li><a href="">登录</a></li>/
                            <li><a href="">注册</a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- 右侧 -->
    <div class="right-content right-center">
        <div class="product-banner">
            <img src="../image/comp1.png" class="product-banner-pic">
            <div class="public-nav clearfix">
                <div class="public-menu g-cursor" id="openMenu">
                    <img src="../image/menu.png">
                </div>
            </div>
        </div>
        <div class="company-content">
            <div class="inner clearfix">
                <div class="row rows">
                    <div class="company-list clearfix">
                        <h1 class="text-center company-title">eLEAD</h1>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 company-pic">
                            <img src="../image/max-bender-262783.png">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 company-pic company-bg-color">
                            <p>eLEAD 是一家全球健康食品公司，建立在一个简单而强大的理念上:我们是动力。
                                <br> eLEAD是由一个多元而充满激情的创始团队的合作创造的，它是推动人们最大化他们的生活潜力的积极动力的源泉。我们把我们的产品和业务视为鼓励和授权所有与我们接触的人。
                                <br> 在这里，你的身体变得更强壮，你的选择变得更聪明，你的生活更美好。让我们成为你的动力。
                            </p>
                        </div>
                    </div>
                    <div class="company-list clearfix">
                        <h1 class="text-center company-title">我们的产品</h1>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 company-pic company-bg-color">
                            <p>eLEAD采取全面、自然和全面的健康和营养方法。我们的天然保健食品目录提供了广泛的营养需求，每一种成分都经过精心挑选，配料正好混合，以恢复和维持长期健康和良好状态。
每一批原料从每一个收获是警惕的测试以确保你得到最好的部分，什么性质的提供。我们测试数以百计的有害元素，如杀虫剂或重金属，以保持产品的纯度和完整性。
有关更多信息，请查看我们的常见问题页面（3.9）或（3）eexplanations。
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 company-pic ">
                            <img src="../image/chris-davis-9963.png">
                            
                        </div>
                    </div>
                      <div class="company-list clearfix">
                        <h1 class="text-center company-title">eLEAD</h1>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 company-pic">
                            <img src="../image/Group2Copy.png">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 company-pic company-bg-color">
                            <p>我们的业务是以与我们的产品相同的核心原则为基础的:诚信与卓越。一种灵活的、可伸缩的补偿结构，使分销商可以兼职或全职工作。最重要的是，经销商可以在他们的职业发展轨迹上领先。每个经销商都在一个合作的团队环境中工作，由eLEAD的全球网络服务于一个全球市场。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 100px;" class="company-bottom">
               <div class="clearfix">
                        <h1 class="text-center company-title company-titles">我们的愿景</h1>
                        <p>
                            我们的业务是以与我们的产品相同的核心原则为基础的:诚信与卓越。一种灵活的、可伸缩的补偿结构，使分销商可以兼职或全职工作。最重要的是，经销商可以在他们的职业发展轨迹上领先。每个经销商都在一个合作的团队环境中工作，由eLEAD的全球网络服务于一个全球市场。
                          
                        </p>
                    </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/fsbanner.js"></script>
<script type="text/javascript" src='../js/main.js'></script>

</html>